// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-family-manjari: 'Manjari', sans-serif;
$font-family-monserrat: 'Montserrat', sans-serif;

$font-size-base: 1rem;
$line-height-base: 1.6;
 
// Colors
$azul: #0060af;
$azulclaro: #0598f2;
$rojo: #e50019;
$grisoscuro: #324755;
$naranjaclaro:#ffaa4d;
$naranja:#fe533a;
$naranjamedio:#ff603c;
$rojoboton:#fd265c;
$verde:#06d9d9;
$verdeclaro:#60fe3a;
$verdecategoria:#1ec9d4;
$colorborde:#707070;
$colorcategoria:#212d66;
$coloroferta:#bebebe;
$colorpage:#f7f7f7;
$fondoproducto:#d0ecf6;
$breadcrum:#797979;
$colorcart:#ebebeb;
$colorcoment:#bfbfbf;
$colorseccion:#f2f2f2;
$titulocategoria:#212d66;
$radcorazon: #dedede;
$verdetotal:#3cffbc;
$grismodal:#f4f4f4;
$verdemodal: #dfeb03;

$default-font-size:0.938rem;